*{
    margin: 0;
    padding: 0;
}

:root{
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167Bf7;
    --cor-de-fundo: #090a0b;
    --fonte-principal:'inter';
    --fonte-titulo:'Caveat Brush';
    --sub-titulo: 'Bangers';
    --verde-padrao: #139648;

}

body{
    margin: auto;
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size:16px ;
    font-weight: 400;
}

.principal{
    background-position: right;
    background-image: url(img/Background.png);
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__botao{
    background-color: var(--botao-azul);
    border-radius: 7px;
    padding: 1em;
    color: var(--branco-principal);
    display:block;
    text-decoration: none;
    margin-bottom: 1em;


}

.botao_secundario{
    background-color: transparent;
    border: 2px solid var(--branco-principal);

}

.container__aviso{
    
    margin: 5%;
    font-size: 12px;
    color: var(--branco-principal);

}

.container__titulo{
    padding: 0 auto;
    font-family: var(--fonte-titulo);
    font-weight: 300;
    font-size: 55px;
     
}

.container__imagem{
    margin: 1em 0 2em 0;
}


.secundario{
    width: 80%;
    align-items: center;
    margin: 0 10em;
}

.descricao__titulo{
    font-weight: 300;
    font-size: 48px;
    font-family: var(--sub-titulo);
    color: var(--verde-padrao);
    margin-bottom: 0.3em;
    text-align: center;
}

.descricao__texto{
    margin: 1em 0;
    color:var(--branco-pricipal);
    text-align: justify;

}

.segundo_botao_secundario{
    display: inline-block;
    margin-top: 1em;
}

.container__descricao{
    padding: 2em;

}

.dispositivos__lista{
    display: flex; /*colocar os itens um do lado do outro da lista*/
    justify-content: center;
    list-style-type: none; /*tirar os pontinhos do lado da lista*/
    margin: 5em 0;
    
}

.dispositivos__lista li{

    justify-content: center;
    list-style-type: none; /*tirar os pontinhos do lado da lista*/
    margin: 0 1.6em;
    
}

.dispositivos{
    margin-top: 10%;
    height: 100vh;
    text-align: center;
}

.dispositivos__titulos{
    font-size: 48px;
    color: var(--branco-pricipal);
}

.lista__item{
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size:16px ;
    font-weight: 400;
    margin-top: 0.5em;
}

/*****************************************************************************/

.rodape{
    text-align: center; 
    margin: 25em 3em; 
}

.rodape__logo{
    margin: 1em;
}

.rodape__lista{
    display: flex; 
    justify-content: center;
    list-style-type: none;
    margin-top: 1em;   
}

.lista__link a{ /*seleciona diretamente o a */
    text-decoration: none;
    color: var(--branco-principal);
    margin-left: 1em;
}

.lista__link{
    margin: 1em; 
   
}

.rodape__texto{
    margin: 1em 0;
    color: var(--cinza-secundario);
    font-size: 14px;
}


.menu_lista{
    margin: 4% auto auto 21%;
    text-align: center;
    width: 380px;      
}


.menu-botao-esquerda{
    margin: 1em 1em;
}

.menu-botao-esquerda-segundo{
    margin: 1em 0 0 0em;
}

.menu-botao-direita{
    padding-right: 9%;
    background-image: url(img/joker-transparente.png);
}

.menu-botao-direita:hover{
    padding-right: 9%;
    background-image: url(img/joker-direita.png);
    transition: 2s;

}

.menu-botao-esquerda{
    padding-left: 19%;
    background-image: url(img/joker-transparente.png);
    transition: width 2s;;
}

.menu-botao-esquerda:hover{
    background-image: url(img/joker-esquerda.png);
    transition: 2s;
}

.menu-botao-esquerda-segundo{

    background-image: url(img/joker-transparente.png);  
    
}

.menu-botao-esquerda-segundo:hover{
    transition: 2s;
    background-image: url(img/joker-esquerda.png);
}

.menu-botao-direita-segundo{
    padding-right: 12%;
    background-image: url(img/joker-transparente.png);

}

.menu-botao-direita-segundo:hover{
    padding-right: 12%;
    background-image: url(img/joker-direita.png);
    transition: 2s;

}

.secundario__imagem{
    
    margin:10% 0 0 5%;
    width: 90%;
    border-radius: 20px;
    transition: 1s;
    
}
.secundario__imagem:hover{
    box-shadow: 0px 2px 5px 7px #139648;
    transition: 1s;
}


.texto_curiosidades{
    display: inline-block;
    text-align: justify;
    width: 20%;
    margin: 2px 3%;
    vertical-align: top;
    
}

.caixa_informacoes{
    background-image: url(img/back-informacoes.png);
    background-repeat: no-repeat;
    height: 100vh;
    text-align: center;
    margin-top: 8%;
    background-position: center;
    background-size: contain;
}


.caixa_informacoes p{
    margin: 0 0 1em 0;
}

strong{
  font-size: 2em;
    color: #139648;
}


.descricao__titulocuriosidade{
    font-weight: 300;
    font-size: 75px;
    font-family: var(--sub-titulo);
    color: var(--verde-padrao);
    margin-bottom: 0.3em;
    text-align: center;
    padding-top: 5%;
    

}

.descricao__titulo-filmes{
    font-weight: 300;
    font-size: 90px;
    font-family: var(--sub-titulo);
    color: var(--verde-padrao);
    margin-bottom: 0.3em;
    text-align: center;

}
.titulo_dispositivo{
    font-size: 150px;

}

.titulo_dispositivos{
    font-size: 60px;
}

.img__item{
   border-radius: 10px;
    width: 300px;
}
